mixin editUserForm()
  .row.justify-content-center
    .col-xl-10.col-lg-12.col-md-9
      .card.o-hidden.border-left-primary.shadow-lg.my-5
        .card-body.p-0
          // Nested Row within Card Body
          .row
            .col-lg-7
              .p-5
                .text-center
                  h1.h4.text-primary.mb-4= title
                form(method='POST' action='/user/update' oninput="contact.setCustomValidity(/[0-9]/g.test(contact.value) ? '' : 'Must be numbers only.')").user
                  .form-group.row
                    .col-sm-6.mb-3.mb-sm-0
                      label.small(for='firstname') First Name:
                      input.form-control.form-control-user(required type='text' name='firstname' placeholder='First Name' value=(!userData ? '' : userData.firstname ))
                    .col-sm-6
                      label.small(for='lastname') Last Name:
                      input.form-control.form-control-user(required type='text' name='lastname' placeholder='Last Name' value=(!userData ? '' : userData.lastname ))
                  .form-group
                    label.small(for='gender') Gender
                    select.form-control.cust-select(required name='gender')
                      - const orientation = ["Male", "Female", "Rather not to say"];
                      each gender in orientation
                        if (userData && gender.includes(userData.gender))
                          option(value=gender selected) #{gender}
                        else
                          option(value=gender) #{gender}
                  div.form-group
                    label.small(for='contact') Contact
                    input.form-control.form-control-user.numeric-only(required type='text' id='contact' name='contact' minlength="8" maxlength="10" placeholder='888 888 8888' value=(!userData ? '' : userData.contact ))
                  div.form-group
                    label.small(for='company') Company
                    input.form-control.form-control-user(required type='text' placeholder='Enter your company name' id="company" name='company' value=(!userData ? '' : userData.company ))
                  div.form-group
                    label.small(for='address') Address
                    input.form-control.form-control-user(required id='address' placeholder='Enter your address' name='address' value=(!userData ? '' : userData.address))

                  button.btn.btn-primary.btn-user.btn-block(type='submit') Update Your Profile
            .col-lg-5.d-none.d-lg-block.bg-update-user-image