mixin showProjects(project)
  .col-xl-4.col-md-6.mb-4
    .card.border-left-primary.shadow.h-100.py-2
      .card-body
        .row.no-gutters.align-items-center
          .col.mr-2
            .h5.mb-0.font-weight-bold.text-gray-800.text-primary= project.project_name
            .text-xs.mb-1.text-uppercase.text-primary Owned by: #{project.User.username}
            //- .text-xs.text-uppercase.mb-6.badge.badge-warning Status: In Progess
            br
            br
            a.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href=`/project/${project.encodeProjCode(project.id)}/edit`)
              i.fas.fa-pencil-alt.fa-sm.text-white-50
              |  Edit Form
            a.deleteProject.text-danger.ml-3(href='#' data-proj-code=`${project.encodeProjCode(project.id)}` data-proj-name=`${project.project_name}` data-proj-owner=`${project.User.fullname()}` data-proj-date=`${project.createdAtToNZTime()}`) Delete
          .col-auto
            i.fas.fa-folder.fa-2x.text-gray-300