//-NOTE: this is for pdf/:id/view
extends ../layout

block pdfmake-modules
  //- Initialize Jquery first
  script(src="/vendor/jquery/jquery.js" type="text/javascript")

  //- these libraries will generate pdf
  script(type="text/javascript" src="/vendor/pdfmake/pdfmake.min.js")
  script(type="text/javascript" src="/vendor/pdfmake/vfs_fonts.js")
  //- Base64 image
  script(type="text/javascript" src="/vendor/pdfmake/images.js")

block pdfmake
 script.
  // playground requires you to assign document definition to a variable called dd
  var dd = {
  content: [
  {
  columns: [
  {
  image: logo,
  width: 150
  },
  {
  alignment: 'right',
  style: 'header',
  text: '\nProject Scope',
  size: 20
  }
  ]
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  headerRows: 1,
  align: 'right',
  widths: [ '*', 150, '*', 150 ],
  body: [
  [ {text:'Details', style:'header'}, '', '', ''],
  [ {text:'Company Name:', bold:'true'}, '#{project.User.company}', {text:'Contact #:', bold:'true'}, '#{project.User.contact}'],
  [ {text:'Contact Name:', bold:'true'}, '#{project.User.fullname()}', {text:'Email:', bold:'true'}, '#{project.User.email}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  headerRows: 1,
  align: 'right',
  widths: [ '*', 150, '*', 150 ],
  body: [
  [ {text:'Project', style:'header'}, '', {text:'\nProject Code:', bold:'true'}, '\n#{project.generateProjCode()}'],
  [ {text:'Project Name:', bold:'true'}, '#{project.project_name}', {text:'Date:', bold:'true'}, '#{project.createdAtToNZTime()}'],
  [ {text:'Client Name:', bold:'true'}, '#{project.User.firstname}', {text:'Address:', bold:'true'}, '#{project.project_address}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // People and Pricing
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'People And Pricing', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*', '*', '*' ],
  body: [
  [ {text:'Markup:', bold:'true'}, 'Plus #{project.Manpower.markup} %', '',''],
  [ {text:'# of Builders:', bold:'true'}, '#{project.Manpower.no_builder} People', {text:'Supervision:', bold:'true'}, '#{project.Manpower.supervision} Hrs / Week'],
  [ {text:'Administration:', bold:'true'}, '#{project.Manpower.administration} Hrs / Week', {text:'Project Management:', bold:'true'}, '#{project.Manpower.project_management} Hrs / Week'],
  [ {text:'Travel Distance:', bold:'true'}, '#{project.Manpower.travel_distance} km', {text:'Travel Distance - Price:', bold:'true'}, '$ #{project.Manpower.travel_price} / km'],
  [ {text:'No of Vehicles:', bold:'true'}, '#{project.Manpower.no_vehicles}', '','']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Site Arrangement
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Site Arrangement', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Site Access:', bold:'true'}, '#{project.Site_arrangement.site_access}', {text:'Comment:', bold:'true'},'#{project.Site_arrangement.comment}'],
  [ {text:'Space for Material Storage:', bold:'true'}, '#{project.Site_arrangement.space_for_material_storage}', {text:'Carpet Protection:', bold:'true'}, '#{project.Site_arrangement.carpetToYesNo()}'],
  [ {text:'Living Arrangements:', bold:'true'}, '#{project.Site_arrangement.living_arrangement}', {text:'Allow Extra Site-Specific Time:', bold:'true'}, '#{project.Site_arrangement.allow_extra_site_specific_time} hrs']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  //Safety Requirements
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Safety Requirements', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*', 'auto', '*' ],
  body: [
  [ {text:'Site Sign:', bold:'true'}, '#{project.Safety_requirement.siteSignToYesNo()}', {text:'Security Fencing:', bold:'true'},'#{project.Safety_requirement.security_fencing}'],
  [ {text:'Fall-in Protection:', bold:'true'}, '#{project.Safety_requirement.fallInToYesNo()}', {text:'Crossing Protection:', bold:'true'}, '#{project.Safety_requirement.crossingToYesNo()}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Allowances and Insurances
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Allowances and Insurances', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*', 'auto', '*' ],
  body: [
  [ {text:'Estimated Project Duration:', bold:'true'}, '#{project.Allowance_and_insurance.estimated_project_duration} Weeks', {text:'All Risk Insurance:', bold:'true'},'#{project.Allowance_and_insurance.riskInsuranceToYesNo()}'],
  [ {text:'Building Guarantee:', bold:'true'}, '#{project.Allowance_and_insurance.building_guarantee}','',''],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Temporary Services
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Temporary Services', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Temporary Power:', bold:'true'}, '#{project.Temporary_service.TempPowerToYesNo()}', {text:'Temporary Water:', bold:'true'},'#{project.Temporary_service.TempWaterToYesNo()}', {text:'Site Shed:', bold:'true'},'#{project.Temporary_service.site_shed}'],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Professional Service Allowances = Proffesional_service_allowance
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Professional Service Allowances', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*', 'auto', '*' ],
  body: [
  //- NOTE: Profesional Service Allowances = Proffesional_service_allowance on Models
  [ {text:'Plans:', bold:'true'}, '$ #{project.Proffesional_service_allowance.plans}', {text:'Geotechnical:', bold:'true'},'$ #{project.Proffesional_service_allowance.geotechnical}'],
  [ {text:'Engineer:', bold:'true'}, '$ #{project.Proffesional_service_allowance.engineer}', {text:'Surveyor:', bold:'true'},'$ #{project.Proffesional_service_allowance.surveyor}'],
  [ {text:'Council Fees:', bold:'true'}, '$ #{project.Proffesional_service_allowance.council_fees}', '','']
  ]
  }
  },
  '\n\n\n',
  {text:'Exterior Scope', style:'headerBlue'},
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*' ],
  body: [
  [ {text:'Painting Exterior:', bold:'true'}, '#{project.Exterior.painting_exterior}'],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Wall Cladding', bold:'true'},'','','' ],
  [ {text:'Type:', bold:'true'},'#{project.Exterior.wall_cladding_type}', {text:'Work Required:', bold:'true'}, '#{project.Exterior.wall_cladding_work_required}',]
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Base Cladding', bold:'true'},'','','' ],
  [ {text:'Type:', bold:'true'},'#{project.Exterior.base_cladding_type}', {text:'Work Required:', bold:'true'}, '#{project.Exterior.base_cladding_work_required}',]
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  //- NOTE: soffit_cladding_work_require = "soffit_cladding_work_required"
  [ {text:'Soffit Cladding', bold:'true'},'','','' ],
  [ {text:'Type:', bold:'true'},'#{project.Exterior.soffit_cladding_type}', {text:'Work Required:', bold:'true'}, '#{project.Exterior.soffit_cladding_work_require}',]
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Exterior Joinery', bold:'true'},'','','' ],
  [ {text:'Type:', bold:'true'},'#{project.Exterior.exterior_joinery_type}', {text:'Work Required:', bold:'true'}, '#{project.Exterior.exterior_joinery_work_required}',]
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto'],
  body: [
  [ {text:'Entrance Door - Type:', bold:'true'}, '#{project.Exterior.entrance_door_type}' ],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Roof', bold:'true'},'','',''],
  [ {text:'Pitch:', bold:'true'}, '#{project.Exterior.roof_pitch}', {text:'Cladding Type:', bold:'true'},'#{project.Exterior.roof_cladding_type}'],
  [ {text:'Work Required:', bold:'true'}, {text:'#{project.Exterior.roof_work_required}', colSpan: 3},'','']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Gutter', bold:'true'},'','',''],
  [ {text:'Gutter Material:', bold:'true'}, '#{project.Exterior.gutter_material}', {text:'Profile:', bold:'true'},'#{project.Exterior.gutter_profile}'],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Downpipe', bold:'true'},'','',''],
  [ {text:'Material:', bold:'true'}, "#{project.Exterior.downpipe_material}", {text:'Profile:', bold:'true'},'#{project.Exterior.downpipe_profile}'],
  [ {text:'Work Required:', bold:'true'}, {text:'#{project.Exterior.downpipe_work_required}', colSpan: 3},'','']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*' ],
  body: [
  [ {text:'Fascia', bold:'true'},''],
  [ {text:'Fascia Type:', bold:'true'}, '#{project.Exterior.fascia_type}'],
  ]
  }
  },
  '\n\n\n\n\n\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  // Hard Landscaping
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Hard Landscaping', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Deck', bold:'true'},'','',''],
  [ {text:'Type:', bold:'true'}, "#{project.Hard_landscaping.deck_type}", {text:'Work Required:', bold:'true'},'#{project.Hard_landscaping.deck_work_required}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Handrail', bold:'true'},'','',''],
  [ {text:'Type:', bold:'true'}, "#{project.Hard_landscaping.handrail_type}", {text:'Work Required:', bold:'true'},'#{project.Hard_landscaping.handrail_work_required}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Paving', bold:'true'},'','',''],
  [ {text:'Type:', bold:'true'}, "#{project.Hard_landscaping.paving_type}", {text:'Work Required:', bold:'true'},'#{project.Hard_landscaping.paving_work_required}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Driveway', bold:'true'},'','',''],
  [ {text:'Type:', bold:'true'}, "#{project.Hard_landscaping.driveway_type}", {text:'Work Required:', bold:'true'},'#{project.Hard_landscaping.driveway_work_required}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Fencing', bold:'true'},'','',''],
  [ {text:'Type:', bold:'true'}, "#{project.Hard_landscaping.fencing_type}", {text:'Work Required:', bold:'true'},'#{project.Hard_landscaping.fencing_work_required}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Other:', bold:'true'}, {text: '#{project.Hard_landscaping.other_work_required}', colSpan: 3}, '', '' ],
  ]
  }
  },
  '\n\n\n',
  {text:'Interior Scope', style:'headerBlue'},
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*' ],
  body: [
  [ {text:'Painting Interior:', bold:'true'}, '#{project.Interior.painting_interior}'],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Interior Trims
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Interior Trims', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Scotia Type:', bold:'true'}, '#{project.Interior_trim.scotia_type}', {text:'Skirting Type:', bold:'true'},'#{project.Interior_trim.skirting_type}'],
  [ {text:'Window Architrave:', bold:'true'}, '#{project.Interior_trim.window_architrave}', {text:'Door Architrave:', bold:'true'},'#{project.Interior_trim.door_architrave}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Interior Finishes
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Interior Finishes', style:'header'}],
  [''],
  ]
  }
  },
  {
  table: {
  align: 'right',
  widths: [ 'auto', '*', '*' ],
  body: [
  [ '', {text:'Floor Covering', bold:'true'}, {text:'Wall Finish', bold:'true'}],
  [ {text:'Kitchen: ', bold:'true'}, '#{project.Interior_finish.kitchenFloorCoverPDF()}', '#{project.Interior_finish.kitchenWallFinishPDF()}'],
  [ {text:'Living: ', bold:'true'}, '#{project.Interior_finish.livingFloorCoverPDF()}', '#{project.Interior_finish.livingWallFinishPDF()}'],
  [ {text:'Bedrooms: ', bold:'true'}, '#{project.Interior_finish.bedroomsFloorCoverPDF()}', '#{project.Interior_finish.bedroomsWallFinishPDF()}'],
  [ {text:'Bathrooms: ', bold:'true'}, '#{project.Interior_finish.bathroomFloorCoverPDF()}', '#{project.Interior_finish.bathroomWallFinishPDF()}'],
  [ {text:'Ensuite: ', bold:'true'}, '#{project.Interior_finish.ensuiteFloorCoverPDF()}', '#{project.Interior_finish.ensuiteWallFinishPDF()}'],
  [ {text:'Laundry: ', bold:'true'}, '#{project.Interior_finish.laundryFloorCoverPDF()}', '#{project.Interior_finish.laundryWallFinishPDF()}'],
  [ {text:'Other: ', bold:'true'}, '#{project.Interior_finish.other_floor_covering}', '#{project.Interior_finish.other_wall_finish}'],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Windows and Doors
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Windows and Doors', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*' ],
  body: [
  [ {text:'Interior Door Type:', bold:'true'}, '#{project.Window_and_door.interior_door_type}',],
  [ {text:'Door Hardware:', bold:'true'}, '#{project.Window_and_door.door_hardware}'],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Joinery Allowances
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Joinery Allowances', style:'header'}],
  [''],
  ]
  }
  },
  {
  table: {
  align: 'right',
  widths: [ '*', '*' ],
  body: [
  [ {text:'Areas: ', bold:'true'}, {text:'Amount: ', bold:'true'}],
  [ {text:'Kitchen: ', bold:'true'}, '$ #{project.Joinery_allowance.kitchen}'],
  [ {text:'Laundry: ', bold:'true'}, '$ #{project.Joinery_allowance.laundry}'],
  //- NOTE: wardrobe_masterbed = "wardrobe_master_bed"
  [ {text:'Wardrobe Masterbed: ', bold:'true'}, '$ #{project.Joinery_allowance.wardrobe_master_bed}'],
  [ {text:'Wardrobes Other:  #{project.Joinery_allowance.wardrobes_other}', bold:'true'}, '$ #{project.Joinery_allowance.wardrobe_other_amount}'],
  [ {text:'Other: #{project.Joinery_allowance.other}', bold:'true'}, '$ #{project.Joinery_allowance.other_amount}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Plumbing
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Plumbing', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*' ],
  body: [
  [ {text:'Allowance Type:', bold:'true'}, '#{project.Plumbing.allowance_type}',],
  [ {text:'HWC:', bold:'true'}, '#{project.Plumbing.HWC}'],
  [ {text:'New Connection:', bold:'true'}, '#{project.Plumbing.newConnectionToYesNo()}'],
  [ {text:'Comments:', bold:'true'}, '#{project.Plumbing.comments}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Electrical
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Electrical', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*' ],
  body: [
  [ {text:'Allowance Type:', bold:'true'}, '#{project.Electrical.allowance_type}',],
  [ {text:'Distribution Board:', bold:'true'}, '#{project.Electrical.distribution_board}'],
  [ {text:'New Connection:', bold:'true'}, '#{project.Electrical.newConnectionToYesNo()}'],
  [ {text:'Comments:', bold:'true'}, '#{project.Electrical.comments}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Drainage
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Drainage', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*' ],
  body: [
  [ {text:'New Connection:', bold:'true'}, '#{project.Drainage.newConnectionToYesNo()}'],
  [ {text:'Comments:', bold:'true'}, '#{project.Drainage.comments}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Electrical
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Other', style:'header'}],
  [''],
  ]
  }
  },
  {
  table: {
  align: 'right',
  widths: [ 'auto', '*', '*' ],
  body: [
  [ '', 'Demolition', 'Renovation'],
  [ {text:'', bold:'true'}, '#{project.Other.demolition}', '#{project.Other.renovation}'],
  [ {text:'Comments: ', bold:'true'}, {colSpan: 2, text: '#{project.Other.comments}'}, '']
  ]
  }
  },
  ],
  styles: {
  header: {
  fontSize: 20,
  bold: true
  },
  headerBlue: {
  fontSize: 30,
  bold: true,
  color: '#2b6ca3',
  },
  bigger: {
  fontSize: 15,
  italics: true
  }
  },
  defaultStyle: {
  columnGap: 20
  },
  footer: function(currentPage, pageCount) { return[{ text: 'Page ' + currentPage.toString() + ' of ' + pageCount, alignment: 'center', bold: true}]; }
  }

  const downloadPDF = () => {
   pdfMake.createPdf(dd).download( 'YourQS-#{project.project_name}-#{project.generateProjCode()}.pdf');
  }
  
  downloadPDF();

block content
   .container
    .row.justify-content-center
      //- TODO: Comment this when on production 
      .col-xl-10.col-lg-12.col-md-9.bg-white.p-5.rounded
        .col.text-center
          h1.text-primary.pb-2= title
        table.table
          tbody
            tr
              th(scope="row") Project Name:
              td#projName= project.project_name
            tr
              th(scope="row") Project Code:
              td#projCode #{project.generateProjCode()}
            tr
              th(scope="row") Project Owned by:
              td#projOwner #{project.User.fullname()}
            tr
              th(scope="row") Project Created:
              td#projDate #{project.createdAtToNZTime()}
            
        .col.text-center
          button.btn.btn-danger.btn-lg.px-5.align-middle(onClick="downloadPDF()") Download PDF