extends pdf-layout

block pdfmake
 script.
  // playground requires you to assign document definition to a variable called dd
  var dd = {
  content: [
  {
  columns: [
  {
  image: logo,
  width: 150
  },
  {
  alignment: 'right',
  style: 'header',
  text: '\nProject Scope',
  size: 20
  }
  ]
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  headerRows: 1,
  align: 'right',
  widths: [ '*', 150, '*', 150 ],
  body: [
  [ {text:'Details', style:'header'}, '', '', ''],
  [ {text:'Company Name:', bold:'true'}, '#{project.User.company}', {text:'Contact #:', bold:'true'}, '#{project.User.contact}'],
  [ {text:'Contact Name:', bold:'true'}, '#{project.User.fullname()}', {text:'Email:', bold:'true'}, '#{project.User.email}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  headerRows: 1,
  align: 'right',
  widths: [ '*', 150, '*', 150 ],
  body: [
  [ {text:'Project', style:'header'}, '', {text:'\nProject Code:', bold:'true'}, '#{project.generateProjCode()}'],
  [ {text:'Project Name:', bold:'true'}, '#{project.project_name}', {text:'Date:', bold:'true'}, '#{project.createAt}'],
  [ {text:'Client Name:', bold:'true'}, '#{project.User.firstname}', {text:'Address:', bold:'true'}, '#{project.project_address}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // People and Pricing
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'People And Pricing', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*', '*', '*' ],
  body: [
  [ {text:'Markup:', bold:'true'}, 'Plus #{project.Manpower.markup} %', '',''],
  [ {text:'# of Builders:', bold:'true'}, '#{project.Manpower.no_builder} People', {text:'Supervision:', bold:'true'}, '#{project.Manpower.supervision} Hrs / Week'],
  [ {text:'Administration:', bold:'true'}, '#{project.Manpower.administration} Hrs / Week', {text:'Project Management:', bold:'true'}, '#{project.Manpower.project_management} Hrs / Week'],
  [ {text:'Travel Distance:', bold:'true'}, '#{project.Manpower.travel_distance} km', {text:'Travel Distance - Price:', bold:'true'}, '$ #{project.Manpower.travel_price} / km'],
  [ {text:'No of Vehicles:', bold:'true'}, '#{project.Manpower.no_vehicles}', '','']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Site Arrangement
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Site Arrangement', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Site Access:', bold:'true'}, '#{project.Site_arrangement.site_access}', {text:'Comment:', bold:'true'},'#{project.Site_arrangement.comment}'],
  [ {text:'Space for Material Storage:', bold:'true'}, '#{project.Site_arrangement.space_for_material_storage}', {text:'Carpet Protection:', bold:'true'}, '#{project.Site_arrangement.carpetToYesNo()}'],
  [ {text:'Living Arrangements:', bold:'true'}, '#{project.Site_arrangement.living_arrangement}', {text:'Allow Extra Site-Specific Time:', bold:'true'}, '#{project.Site_arrangement.allow_extra_site_specific_time} hrs']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  //Safety Requirements
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Safety Requirements', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*', 'auto', '*' ],
  body: [
  [ {text:'Site Sign:', bold:'true'}, '#{project.Safety_requirement.siteSignToYesNo()}', {text:'Security Fencing:', bold:'true'},'#{project.Safety_requirement.security_fencing}'],
  [ {text:'Fall-in Protection:', bold:'true'}, '#{project.Safety_requirement.fallInToYesNo()}', {text:'Crossing Protection:', bold:'true'}, '#{project.Safety_requirement.crossingToYesNo()}']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Allowances and Insurances
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Allowances and Insurances', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*', 'auto', '*' ],
  body: [
  [ {text:'Estimated Project Duration:', bold:'true'}, '#{project.Allowance_and_insurance.estimated_project_duration} Weeks', {text:'All Risk Insurance:', bold:'true'},'#{project.Allowance_and_insurance.riskInsuranceToYesNo()}'],
  [ {text:'Building Guarantee:', bold:'true'}, '#{project.Allowance_and_insurance.building_guarantee}','',''],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Temporary Services
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Temporary Services', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Temporary Power:', bold:'true'}, '#{project.Temporary_service.TempPowerToYesNo()}', {text:'Temporary Water:', bold:'true'},'#{project.Temporary_service.TempWaterToYesNo()}', {text:'Site Shed:', bold:'true'},'#{project.Temporary_service.site_shed}'],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Professional Service Allowances = Proffesional_service_allowance
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Professional Service Allowances', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*', 'auto', '*' ],
  body: [
  //- NOTE: Profesional Service Allowances = Proffesional_service_allowance on Models
  [ {text:'Plans:', bold:'true'}, '$ #{project.Proffesional_service_allowance.plans}', {text:'Geotechnical:', bold:'true'},'$ #{project.Proffesional_service_allowance.geotechnical}'],
  [ {text:'Engineer:', bold:'true'}, '$ #{project.Proffesional_service_allowance.engineer}', {text:'Surveyor:', bold:'true'},'$ #{project.Proffesional_service_allowance.surveyor}'],
  [ {text:'Council Fees:', bold:'true'}, '$ #{project.Proffesional_service_allowance.council_fees}', '','']
  ]
  }
  },
  '\n\n\n',
  {text:'Exterior Scope', style:'headerBlue'},
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*' ],
  body: [
  [ {text:'Painting Exterior:', bold:'true'}, '#{project.Exterior.painting_exterior}'],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Wall Cladding', bold:'true'},'','','' ],
  [ {text:'Type:', bold:'true'},'#{project.Exterior.wall_cladding_type}', {text:'Work Required:', bold:'true'}, '#{project.Exterior.wall_cladding_work_required}',]
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Base Cladding', bold:'true'},'','','' ],
  [ {text:'Type:', bold:'true'},'#{project.Exterior.base_cladding_type}', {text:'Work Required:', bold:'true'}, '#{project.Exterior.base_cladding_work_required}',]
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  //- NOTE: soffit_cladding_work_require = "soffit_cladding_work_required"
  [ {text:'Soffit Cladding', bold:'true'},'','','' ],
  [ {text:'Type:', bold:'true'},'#{project.Exterior.soffit_cladding_type}', {text:'Work Required:', bold:'true'}, '#{project.Exterior.soffit_cladding_work_require}',]
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Exterior Joinery', bold:'true'},'','','' ],
  [ {text:'Type:', bold:'true'},'#{project.Exterior.exterior_joinery_type}', {text:'Work Required:', bold:'true'}, '#{project.Exterior.exterior_joinery_work_required}',]
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto'],
  body: [
  [ {text:'Entrance Door - Type:', bold:'true'}, '#{project.Exterior.entrance_door_type}' ],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ '*', '*', '*', '*' ],
  body: [
  [ {text:'Roof', bold:'true'},'','',''],
  [ {text:'Pitch:', bold:'true'}, '#{project.Exterior.roof_pitch}', {text:'Cladding Type:', bold:'true'},'#{project.Exterior.roof_cladding_type}'],
  [ {text:'Work Required:', bold:'true'}, {text:'#{project.Exterior.roof_work_required}', colSpan: 3},'','']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Gutter', bold:'true'},'','',''],
  [ {text:'Gutter Material:', bold:'true'}, '__', {text:'Profile:', bold:'true'},'__'],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Downpipe', bold:'true'},'','',''],
  [ {text:'Material:', bold:'true'}, '__', {text:'Profile:', bold:'true'},'__'],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Fascia', bold:'true'},'','',''],
  [ {text:'Fascia Type:', bold:'true'}, '__','',''],
  ]
  }
  },
  '\n\n\n\n\n\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  // Hard Landscaping
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Hard Landscaping', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Deck', bold:'true'}, '__', {text:'Type:', bold:'true'},'__'],
  [ {text:'Work Required:', bold:'true'}, '__', '',''],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Handrail', bold:'true'}, '__', {text:'Type:', bold:'true'},'__'],
  [ {text:'Work Required:', bold:'true'}, '__', '',''],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Paving', bold:'true'}, '__', {text:'Type:', bold:'true'},'__'],
  [ {text:'Work Required:', bold:'true'}, '__', '',''],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Driveway', bold:'true'}, '__', {text:'Type:', bold:'true'},'__'],
  [ {text:'Work Required:', bold:'true'}, '__', '',''],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Fencing', bold:'true'}, '__', {text:'Type:', bold:'true'},'__'],
  [ {text:'Work Required:', bold:'true'}, '__', '',''],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto' ],
  body: [
  [ {text:'Other', bold:'true'}, '__' ],
  ]
  }
  },
  '\n\n\n',
  {text:'Interior Scope', style:'headerBlue'},
  '\n',
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*' ],
  body: [
  [ {text:'Painting Exterior:', bold:'true'}, '__'],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Interior Trims
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Interior Trims', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', 'auto', 'auto', 'auto' ],
  body: [
  [ {text:'Scotia Type:', bold:'true'}, '__', {text:'Skirting Type:', bold:'true'},'__'],
  [ {text:'Window Architrave:', bold:'true'}, '__', {text:'Door Architrave:', bold:'true'},'__'],
  [ {text:'Council Fees:', bold:'true'}, '__', '','']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Interior Finishes
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Interior Finishes', style:'header'}],
  [''],
  ]
  }
  },
  {
  table: {
  align: 'right',
  widths: [ 'auto', '*', '*' ],
  body: [
  [ '', 'Floor Covering', 'Wall Finish'],
  [ {text:'Kitchen: ', bold:'true'}, '__', '__'],
  [ {text:'Living: ', bold:'true'}, '__', '__'],
  [ {text:'Bedrooms: ', bold:'true'}, '__', '__'],
  [ {text:'Bathrooms: ', bold:'true'}, '__', '__'],
  [ {text:'Ensuite: ', bold:'true'}, '__', '__'],
  [ {text:'Laundry: ', bold:'true'}, '__', '__'],
  [ {text:'Other: ', bold:'true'}, {colSpan: 2, text: '__'}, '']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Windows and Doors
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Windows and Doors', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*' ],
  body: [
  [ {text:'Interior Door Type:', bold:'true'}, '__',],
  [ {text:'Door Hardware:', bold:'true'}, ' __ '],
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Windows and Doors
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Joinery Allowances', style:'header'}],
  [''],
  ]
  }
  },
  {
  table: {
  align: 'right',
  widths: [ '*', '*' ],
  body: [
  [ {text:'Areas: ', bold:'true'}, {text:'Amount: ', bold:'true'}],
  [ {text:'Kitchen: ', bold:'true'}, '$__'],
  [ {text:'Laundry: ', bold:'true'}, '$__'],
  [ {text:'Wardrobe Masterbed: ', bold:'true'}, '$__'],
  [ {text:'Wardrobe Other: ', bold:'true'}, '$__'],
  [ {text:'Other: ', bold:'true'}, '$__']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Plumbing
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Plumbing', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*' ],
  body: [
  [ {text:'Allowance Type:', bold:'true'}, '__',],
  [ {text:'HWC:', bold:'true'}, '__'],
  [ {text:'New Connection:', bold:'true'}, '__'],
  [ {text:'Comments:', bold:'true'}, '__']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Electrical
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Electrical', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*' ],
  body: [
  [ {text:'Allowance Type:', bold:'true'}, '__',],
  [ {text:'Distribution Board:', bold:'true'}, '__'],
  [ {text:'New Connection:', bold:'true'}, '__'],
  [ {text:'Comments:', bold:'true'}, '__']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Drainage
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Drainage', style:'header'}],
  [''],
  ]
  }
  },
  {
  layout: 'lightHorizontalLines',
  table: {
  align: 'right',
  widths: [ 'auto', '*' ],
  body: [
  [ {text:'New Connection:', bold:'true'}, '__'],
  [ {text:'Comments:', bold:'true'}, '__']
  ]
  }
  },
  '\n',
  {
  layout: 'lightHorizontalLines', // optional
  table: {
  // Electrical
  headerRows: 1,
  align: 'right',
  widths: ['*'],
  body: [
  [{text:'Other', style:'header'}],
  [''],
  ]
  }
  },
  {
  table: {
  align: 'right',
  widths: [ 'auto', '*', '*' ],
  body: [
  [ '', 'Demolition', 'Renovation'],
  [ {text:'', bold:'true'}, '__', '__'],
  [ {text:'', bold:'true'}, '__', '__'],
  [ {text:'Comments: ', bold:'true'}, {colSpan: 2, text: '__'}, '']
  ]
  }
  },
  ],
  styles: {
  header: {
  fontSize: 20,
  bold: true
  },
  headerBlue: {
  fontSize: 30,
  bold: true,
  color: '#2b6ca3',
  },
  bigger: {
  fontSize: 15,
  italics: true
  }
  },
  defaultStyle: {
  columnGap: 20
  },
  footer: function(currentPage, pageCount) { return[{ text: 'Page ' + currentPage.toString() + ' of ' + pageCount, alignment: 'center', bold: true}]; }
  }

block content
  button(onClick="pdfMake.createPdf(dd).download();") Download