mixin electrical()
  .col-lg-6
    .card.shadow.mb-4
      .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
        h6.m-0.font-weight-bold.text-primary Electrical
        .dropdown.no-arrow
          a#dropdownMenuLink.dropdown-toggle(href="#electrical" data-toggle="collapse" role="button" aria-expanded="true")
            i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
      .card-body.collapse#electrical
        div.form-group.form-row
          .col.col-lg-6
            label.small(for="allowance_type") Allowance Type
            .input-group
              select.form-control(name="allowance_type")
                if(project.Electrical.allowance_type)
                  each val in forms.option9
                    if(val.includes(project.Electrical.allowance_type))
                      option(value=val selected) #{val}
                    else
                      option(value=val) #{val}
                else
                  option(value="none" selected disabled hidden) Select an Option
                  each val in forms.option9 
                    option(value=val) #{val}
          .col.col-lg-6
            label.small(for='geotechnical') Distribution Board
            .input-group
              select.form-control(name="geotechnical")
                if(project.Electrical.distribution_board)
                  each val in forms.option14
                    if(val.includes(project.Electrical.distribution_board))
                      option(value=val selected) #{val}
                    else
                      option(value=val) #{val}
                else
                  option(value="none" selected disabled hidden) Select an Option
                  each val in forms.option14
                    option(value=val) #{val}
        div.form-group.form-row
          label.small(for='electrical-new-connection') New Connection?
            .input-group
              select.form-control(name="electrical-new-connection")
                if(project.Electrical.new_connection)
                  each val in forms.option4
                    if(val.includes(project.Electrical.new_connection))
                      option(value=(val === 'Yes' || val === 'yes' ? 'true' : 'false') selected) #{val}
                    else
                        option(value=(val === 'Yes' || val === 'yes'  ? 'true' : 'false')) #{val}
                else
                    option(value="none" selected disabled hidden) Select an Option
                    each val in forms.option4
                        option(value=(val === 'Yes' || val === 'yes'  ? 'true' : 'false')) #{val}
        .div.form-group.form-row
          .col
            label.small(for="comment") Comment
            .input-group
              textarea.form-control#comment(name="comment") #{project.Electrical.comments}