mixin exterior()
    .col-lg-12.align-items-center
        h4.m-0.mr-4.font-weight-bold.text-primary Exterior
        hr.w-100
        .input-group.row.mb-4
            .col-4
                label.small(for="exterior_painting_exterior") Painting Exterior
                select.form-control(name="exterior_painting_exterior")
                    if(project.Exterior.painting_exterior)
                        each val in forms.option15
                            if(val.includes(project.Exterior.painting_exterior))
                                option(value=val selected) #{val}
                            else
                                option(value=val) #{val}
                    else
                        option(value="none" selected disabled hidden) Select an Option
                        each val in forms.option15
                            option(value=val) #{val}
    .col-lg-12
        .card.shadow.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                h6.m-0.font-weight-bold.text-primary Exterior Finishes
                .dropdown.no-arrow
                    a#dropdownMenuLink.dropdown-toggle(href="#exterior" data-toggle="collapse" role="button" aria-expanded="true")
                        i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
            .card-body.collapse#exterior
                .row.d-flex.flex-wrap
                    .col.col-12.col-sm-12.col-md-12.col-lg-6
                        h6.m-0.font-weight-bold.text-primary.w-100 Wall Cladding
                        div.form-group.form-row
                            .col-12
                                label.small(for="exterior_wall_cladding_type") Type
                                .input-group
                                    input.form-control(type="text" name="exterior_wall_cladding_type" value=`${project.Exterior.wall_cladding_type}`)
                            .col.col-12
                                label.small(for="exterior_wall_cladding_work_required") Work Required
                                .input-group
                                    input.form-control(name="exterior_wall_cladding_work_required" value=`${project.Exterior.wall_cladding_work_required}`)
                        hr
                        h6.m-0.font-weight-bold.text-primary.w-100 Base Cladding
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="exterior_base_cladding_type") Type
                                .input-group
                                    select.form-control(name="exterior_base_cladding_type")
                                        if(project.Exterior.base_cladding_type)
                                            each val in forms.option16
                                                if(val.includes(project.Exterior.base_cladding_type))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option16
                                                option(value=val) #{val}
                            .col.col-12
                                label.small(for="exterior_base_cladding_work_required") Work Required
                                .input-group
                                    input.form-control(name="exterior_base_cladding_work_required" value=`${project.Exterior.base_cladding_work_required}`)  
                        hr
                        h6.m-0.font-weight-bold.text-primary.w-100 Soffit Cladding     
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="exterior_soffit_cladding_type") Type
                                .input-group
                                    input.form-control(name="exterior_soffit_cladding_type" value=`${project.Exterior.soffit_cladding_type}`)
                            .col.col-12
                                label.small(for="exterior_soffit_cladding_work_required") Work Required
                                .input-group
                                    input.form-control(name="exterior_soffit_cladding_work_required" value=`${project.Exterior.soffit_cladding_work_require}`) 
                        hr
                        h6.m-0.font-weight-bold.text-primary.w-100 Exterior Joinery
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="exterior_exterior_joinery_type") Type
                                .input-group
                                    select.form-control(name="exterior_exterior_joinery_type")
                                        if(project.Exterior.exterior_joinery_type)
                                            each val in forms.option17
                                                if(val.includes(project.Exterior.exterior_joinery_type))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option17
                                                option(value=val) #{val}
                            .col.col-12
                                label.small(for="exterior_exterior_joinery_work_required") Work Required
                                .input-group
                                    input.form-control(name="exterior_exterior_joinery_work_required" value=`${project.Exterior.exterior_joinery_work_required}`)
                        hr
                        h6.m-0.font-weight-bold.text-primary.w-100 Entrance Door
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="exterior_entrance_door_type") Type
                                .input-group
                                    input.form-control(name="exterior_entrance_door_type" value=`${project.Exterior.entrance_door_type}`)
                    .col.col-12.col-sm-12.col-md-12.col-lg-6
                        h6.m-0.font-weight-bold.text-primary.w-100 Roof
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="exterior_roof_pitch") Pitch
                                .input-group
                                    input.form-control(name="exterior_roof_pitch" value=`${project.Exterior.roof_pitch}`)
                            .col.col-12
                                label.small(for="exterior_roof_cladding_type") Cladding Type
                                .input-group
                                    select.form-control(name="exterior_roof_cladding_type")
                                        if(project.Exterior.roof_cladding_type)
                                            each val in forms.option18
                                                if(val.includes(project.Exterior.roof_cladding_type))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option18
                                                option(value=val) #{val}
                            .col.col-12
                                label.small(for="exterior_roof_work_required") Work Required
                                .input-group
                                    input.form-control(name="exterior_roof_work_required" value=`${project.Exterior.roof_work_required}`)
                        hr
                        h6.m-0.font-weight-bold.text-primary.w-100 Gutter
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="exterior_gutter_material") Gutter Material
                                .input-group
                                    select.form-control(name="exterior_gutter_material")
                                        if(project.Exterior.gutter_material)
                                            each val in forms.option19
                                                if(val.includes(project.Exterior.gutter_material))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option19
                                                option(value=val) #{val}
                            .col.col-12
                                label.small(for="exterior_gutter_profile") Profile
                                .input-group
                                    select.form-control(name="exterior_gutter_profile")
                                        if(project.Exterior.gutter_profile)
                                            each val in forms.option20
                                                if(val.includes(project.Exterior.gutter_profile))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option20
                                                option(value=val) #{val}
                        hr
                        h6.m-0.font-weight-bold.text-primary.w-100 Downpipe
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="exterior_downpipe_material") Material
                                .input-group
                                    select.form-control(name="exterior_downpipe_material")
                                        if(project.Exterior.downpipe_material)
                                            each val in forms.option19
                                                if(val.includes(project.Exterior.downpipe_material))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option19
                                                option(value=val) #{val}
                            .col.col-12
                                label.small(for="exterior_downpipe_profile") Profile
                                .input-group
                                    select.form-control(name="exterior_downpipe_profile")
                                        if(project.Exterior.downpipe_profile)
                                            each val in forms.option21
                                                if(val.includes(project.Exterior.downpipe_profile))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option21
                                                option(value=val) #{val}
                        hr
                        h6.m-0.font-weight-bold.text-primary.w-100 Fascia
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="exterior_fascia_type") Type
                                .input-group
                                    select.form-control(name="exterior_fascia_type")
                                        if(project.Exterior.fascia_type)
                                            each val in forms.option22
                                                if(val.includes(project.Exterior.fascia_type))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option22
                                                option(value=val) #{val}
                        