mixin interiorFinishes()
    .col-lg-12
        .card.shadow.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                h6.m-0.font-weight-bold.text-primary Interior Finishes
                .dropdown.no-arrow
                    a#dropdownMenuLink.dropdown-toggle(href="#interiorFinishes" data-toggle="collapse" role="button" aria-expanded="true")
                        i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
            .card-body.collapse#interiorFinishes
                .row.d-flex.flex-wrap
                    .col.col-12.col-sm-12.col-md-12.col-lg-6
                        h6.m-0.font-weight-bold.text-primary.w-100 Floor Covering
                        div.form-group.form-row.other_parent
                            .col.col-12.col-sm-12.col-md-8.col-lg-8
                                label.small(for="interiorFinish_kitchen_floor_covering") Kitchen
                                .input-group
                                    select.form-control(class="other_option" name="interiorFinish_kitchen_floor_covering")
                                        if(project.Interior_finish.kitchen_floor_covering)
                                            each val in forms.option10
                                                if(val.includes(project.Interior_finish.kitchen_floor_covering))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option10 
                                                option(value=val) #{val}
                            .col.col-12.col-sm-12.col-md-4.col-lg-4
                                label.small(for="interiorFinish_kitchen_floor_covering_other") Other
                                .input-group
                                    input.form-control(class="other" class="other" type="text" disabled="true" name="interiorFinish_kitchen_floor_covering_other")
                        div.form-group.form-row.other_parent
                            .col.col-12.col-sm-12.col-md-8.col-lg-8
                                label.small(for="interiorFinish_living_room_floor_covering") Living Room
                                .input-group
                                    select.form-control(class="other_option" name="interiorFinish_living_room_floor_covering")
                                        if(project.Interior_finish.living_room_floor_covering)
                                            each val in forms.option10
                                                if(val.includes(project.Interior_finish.living_room_floor_covering))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option10 
                                                option(value=val) #{val}
                            .col.col-12.col-sm-12.col-md-4.col-lg-4
                                label.small(for="interiorFinish_living_room_floor_covering_other") Other
                                .input-group
                                    input.form-control(class="other" type="text" disabled="true" name="interiorFinish_living_room_floor_covering_other")
                        div.form-group.form-row.other_parent
                            .col.col-12.col-sm-12.col-md-8.col-lg-8
                                label.small(for="interiorFinish_bedrooms_floor_covering") Bedrooms
                                .input-group
                                    select.form-control(class="other_option" name="interiorFinish_bedrooms_floor_covering")
                                        if(project.Interior_finish.bedroom_floor_covering)
                                            each val in forms.option10
                                                if(val.includes(project.Interior_finish.bedroom_floor_covering))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option10 
                                                option(value=val) #{val} 
                            .col.col-12.col-sm-12.col-md-4.col-lg-4
                                label.small(for="interiorFinish_bedrooms_floor_covering_other") Other
                                .input-group
                                    input.form-control(class="other" type="text" disabled="true" name="interiorFinish_bedrooms_floor_covering_other")      
                        div.form-group.form-row.other_parent
                            .col.col-12.col-sm-12.col-md-8.col-lg-8
                                label.small(for="interiorFinish_bathrooms_floor_covering") Bathrooms
                                .input-group
                                    select.form-control(class="other_option" name="interiorFinish_bathrooms_floor_covering")
                                        if(project.Interior_finish.bathroom_floor_covering)
                                            each val in forms.option10
                                                if(val.includes(project.Interior_finish.bathroom_floor_covering))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option10 
                                                option(value=val) #{val}
                            .col.col-12.col-sm-12.col-md-4.col-lg-4
                                label.small(for="interiorFinish_bathrooms_floor_covering_other") Other
                                .input-group
                                    input.form-control(class="other" type="text" disabled="true" name="interiorFinish_bathrooms_floor_covering_other")
                        div.form-group.form-row.other_parent
                            .col.col-12.col-sm-12.col-md-8.col-lg-8
                                label.small(for="interiorFinish_ensuite_floor_covering") Ensuite
                                .input-group
                                    select.form-control(class="other_option" name="interiorFinish_ensuite_floor_covering")
                                        if(project.Interior_finish.ensuite_floor_covering)
                                            each val in forms.option10
                                                if(val.includes(project.Interior_finish.ensuite_floor_covering))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option10 
                                                option(value=val) #{val}
                            .col.col-12.col-sm-12.col-md-4.col-lg-4
                                label.small(for="interiorFinish_ensuite_floor_covering_other") Other
                                .input-group
                                    input.form-control(class="other" type="text" disabled="true" name="interiorFinish_ensuite_floor_covering_other") 
                        div.form-group.form-row.other_parent
                            .col.col-12.col-sm-12.col-md-8.col-lg-8
                                label.small(for="interiorFinish_laundry_floor_covering") Laundry
                                .input-group
                                    select.form-control(class="other_option" name="interiorFinish_laundry_floor_covering")
                                        if(project.Interior_finish.laundry_floor_covering)
                                            each val in forms.option10
                                                if(val.includes(project.Interior_finish.laundry_floor_covering))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option10 
                                                option(value=val) #{val}
                            .col.col-12.col-sm-12.col-md-4.col-lg-4
                                label.small(for="interiorFinish_laundry_floor_covering_other") Other
                                .input-group
                                    input.form-control(type="text" disabled="true" name="interiorFinish_laundry_floor_covering_other") 
                        div.form-group.form-row
                            .col
                                label.small(for="interiorFinish_other_floor_covering") Other Area
                                .input-group
                                    input.form-control(class="other" name="interiorFinish_other_floor_covering")  
                    .col.col-12.col-sm-12.col-md-12.col-lg-6
                        h6.m-0.font-weight-bold.text-primary.w-100 Wall Finish          
                        div.form-group.form-row.other_parent
                            .col.col-12.col-sm-12.col-md-8.col-lg-8
                                label.small(for="interiorFinish_kitchen_wall_finish") Kitchen
                                .input-group
                                    select.form-control(class="other_option" name="interiorFinish_kitchen_wall_finish")
                                        if(project.Interior_finish.kitchen_wall_finish)
                                            each val in forms.option11
                                                if(val.includes(project.Interior_finish.kitchen_wall_finish))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option11 
                                                option(value=val) #{val}
                            .col.col-12.col-sm-12.col-md-4.col-lg-4
                                label.small(for="interiorFinish_kitchen_wall_finish_other") Other
                                .input-group
                                    input.form-control(class="other" type="text" disabled="true" name="interiorFinish_kitchen_wall_finish_other")
                        div.form-group.form-row.other_parent
                            .col.col-12.col-sm-12.col-md-8.col-lg-8
                                label.small(for="interiorFinish_living_wall_finish") Living
                                .input-group
                                    select.form-control(class="other_option" name="interiorFinish_living_wall_finish")
                                        if(project.Interior_finish.living_wall_finish)
                                            each val in forms.option11
                                                if(val.includes(project.Interior_finish.living_wall_finish))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option11 
                                                option(value=val) #{val}
                            .col.col-12.col-sm-12.col-md-4.col-lg-4
                                label.small(for="interiorFinish_living_wall_finish_other") Other
                                .input-group
                                    input.form-control(class="other" type="text" disabled="true" name="interiorFinish_living_wall_finish_other")
                        div.form-group.form-row.other_parent
                            .col.col-12.col-sm-12.col-md-8.col-lg-8
                                label.small(for="interiorFinish_bedrooms_wall_finish") Bedrooms
                                .input-group
                                    select.form-control(class="other_option" name="interiorFinish_bedrooms_wall_finish")
                                        if(project.Interior_finish.bedrooms_wall_finish)
                                            each val in forms.option11
                                                if(val.includes(project.Interior_finish.bedrooms_wall_finish))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option11 
                                                option(value=val) #{val}
                            .col.col-12.col-sm-12.col-md-4.col-lg-4
                                label.small(for="interiorFinish_bedrooms_wall_finish_other") Other
                                .input-group
                                    input.form-control(class="other" type="text" disabled="true" name="interiorFinish_bedrooms_wall_finish_other")      
                        div.form-group.form-row.other_parent
                            .col.col-12.col-sm-12.col-md-8.col-lg-8
                                label.small(for="interiorFinish_bathroom_wall_finish") Bathrooms
                                .input-group
                                    select.form-control(class="other_option" name="interiorFinish_bathroom_wall_finish")
                                        if(project.Interior_finish.bathroom_wall_finish)
                                            each val in forms.option12
                                                if(val.includes(project.Interior_finish.bathroom_wall_finish))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option12 
                                                option(value=val) #{val}
                            .col.col-12.col-sm-12.col-md-4.col-lg-4
                                label.small(for="interiorFinish_other") Other
                                .input-group
                                    input.form-control(class="other" type="text" disabled="true" name="interiorFinish_other")
                        div.form-group.form-row.other_parent
                            .col.col-12.col-sm-12.col-md-8.col-lg-8
                                label.small(for="interiorFinish_ensuite_wall_finish") Ensuite
                                .input-group
                                    select.form-control(class="other_option" name="interiorFinish_ensuite_wall_finish")
                                        if(project.Interior_finish.ensuite_wall_finish)
                                            each val in forms.option12
                                                if(val.includes(project.Interior_finish.ensuite_wall_finish))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option12 
                                                option(value=val) #{val}
                            .col.col-12.col-sm-12.col-md-4.col-lg-4
                                label.small(for="interiorFinish_ensuite_wall_finish_other") Other
                                .input-group
                                    input.form-control(class="other" type="text" disabled="true" name="interiorFinish_ensuite_wall_finish_other")
                        div.form-group.form-row.other_parent
                            .col.col-12.col-sm-12.col-md-8.col-lg-8
                                label.small(for="interiorFinish_laundry_wall_finish") Laundry
                                .input-group
                                    select.form-control(class="other_option" name="interiorFinish_laundry_wall_finish")
                                        if(project.Interior_finish.laundry_wall_finish)
                                            each val in forms.option12
                                                if(val.includes(project.Interior_finish.laundry_wall_finish))
                                                    option(value=val selected) #{val}
                                                else
                                                    option(value=val) #{val}
                                        else
                                            option(value="none" selected disabled hidden) Select an Option
                                            each val in forms.option12 
                                                option(value=val) #{val}
                            .col.col-12.col-sm-12.col-md-4.col-lg-4
                                label.small(for="interiorFinish_laundry_wall_finish_other") Other
                                .input-group
                                    input.form-control(class="other" type="text" disabled="true" name="interiorFinish_laundry_wall_finish_other")
                        div.form-group.form-row
                            .col
                                label.small(for="interiorFinish_other_wall_finish") Other Area
                                .input-group
                                    input.form-control(type="text" name="interiorFinish_other_wall_finish")