mixin interior()
    .col-lg-12.align-items-center
        h4.m-0.mr-4.font-weight-bold.text-primary Interior
        hr.w-100
        .input-group.row.mb-4
            .col-4
                label.small(for="painting_interior") Painting Interior
                select.form-control(name="painting_interior")
                    if(project.Interior.painting_interior)
                        each val in forms.option15
                            if(val.includes(project.Interior.painting_interior))
                                option(value=val selected) #{val}
                            else
                                option(value=val) #{val}
                    else
                        option(value="none" selected disabled hidden) Select an Option
                        each val in forms.option15
                            option(value=val) #{val}
    