mixin manpower()
  .col-lg-6
    .card.shadow.mb-4
      .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
        h6.m-0.font-weight-bold.text-primary People and Pricing
        .dropdown.no-arrow
          a#dropdownMenuLink.dropdown-toggle(href="#manpower" data-toggle="collapse" role="button" aria-expanded="true")
            i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
      .card-body.collapse#manpower
        div.form-group.form-row
          .col
            label.small(for="manpower_markup") Markup
            .input-group
              .input-group-prepend
                span.input-group-text Plus
              input.form-control(type="number" name="manpower_markup" step=".01" value=`${project.Manpower.markup}`)
              .input-group-append
                span.input-group-text %
        div.form-group.form-row
          .col.col-md-12.col-lg-6
            label.small(for="manpower_no_builder") # of Builders
            .input-group
              input.form-control(type="number" name="manpower_no_builder" value=`${project.Manpower.no_builder}`)
              .input-group-append
                span.input-group-text People
          .col.col-md-12.col-lg-6
            label.small(for="manpower_supervision") Supervision
            .input-group
              input.form-control(type="number" name="manpower_supervision" step=".01" value=`${project.Manpower.supervision}`)
              .input-group-append
                span.input-group-text Hrs/Week
        div.form-group.form-row
          .col.col-md-12.col-lg-6
            label.small(for="manpower_administration") Administration
            .input-group
              input.form-control(type="number" name="manpower_administration" step=".01" value=`${project.Manpower.administration}`)
              .input-group-append
                span.input-group-text Hrs/Week
          .col.col-md-12.col-lg-6
            label.small(for="manpower_project_management") Project Management
            .input-group
              input.form-control(type="number" name="manpower_project_management" step=".01" value=`${project.Manpower.project_management}`)
              .input-group-append
                span.input-group-text Hrs/Week
        div.form-group.form-row
          .col.col-md-12.col-lg-6
            label.small(for="manpower_travel_distance") Travel Distance
            .input-group
              input.form-control(type="number" name="manpower_travel_distance" step=".01" value=`${project.Manpower.administration}`)
              .input-group-append
                span.input-group-text km
          .col.col-md-12.col-lg-6
            label.small(for="manpower_travel_distance_price") Travel Distance - Price
            .input-group
              .input-group-prepend
                span.input-group-text $
              input.form-control(type="number" name="manpower_travel_price" step=".01" value=`${project.Manpower.travel_price}`)
              .input-group-append
                span.input-group-text Week
