mixin siteArrangement()
  .col-lg-6
    .card.shadow.mb-4
      .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
        h6.m-0.font-weight-bold.text-primary Site Arrangement
        .dropdown.no-arrow
          a#dropdownMenuLink.dropdown-toggle(href="#siteArrangement" data-toggle="collapse" role="button" aria-expanded="true")
            i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
      .card-body.collapse#siteArrangement
        div.form-group.form-row
          .col.col-md-12.col-lg-6
            label.small(for="siteArrange_site_access") Site Access
            .form-group.input-group
              select.form-control(name="siteArrange_site_access")
                if(project.Site_arrangement.site_access)
                  each val in forms.option1
                    if(val.includes(project.Site_arrangement.site_access))
                      option(value=val selected) #{val}
                    else
                      option(value=val) #{val}
                else
                  option(value="none" selected disabled hidden) Select an Option
                  each val in forms.option1
                    option(value=val) #{val}

            label.small(for="siteArrange_space_for_material_storage") Space for Material Storage
            .input-group
              select.form-control(name="siteArrange_space_for_material_storage")
                if(project.Site_arrangement.space_for_material_storage)
                  each val in forms.option2
                    if(val.includes(project.Site_arrangement.space_for_material_storage))
                      option(value=val selected) #{val}
                    else
                      option(value=val) #{val}
                else
                  option(value="none" selected disabled hidden) Select an Option
                  each val in forms.option2
                    option(value=val) #{val}
          .col.col-md-12.col-lg-6
            label.small(for="siteArrange_comment") Comment
            .input-group
              textarea.form-control(name="siteArrange_comment" rows="4" style="min-height: 122px;") #{project.Site_arrangement.comment}
        .form-group.form-row
          .col
            label.small(for="siteArrange_living_arrangement") Living Arrangements
            select.form-control(name="siteArrange_living_arrangement")
              if(project.Site_arrangement.living_arrangement)
                each val in forms.option3
                  if(val.includes(project.living_arrangement))
                    option(value=val selected) #{val}
                  else
                    option(value=val) #{val}
              else
                option(value="none" selected disabled hidden) Select an Option
                each val in forms.option3
                  option(value=val) #{val}
        div.form-group.form-row
          .col.col-md-12.col-lg-6
            label.small(for="siteArrange_carpet_protection") Carpet Protection
            .input-group
              select.form-control(type="number" name="siteArrange_carpet_protection")
                if(project.Site_arrangement.carpetToYesNo())
                  each val in forms.option4
                    if(val.includes(project.Site_arrangement.carpetToYesNo()))
                      option(value=(val === 'Yes' || val === 'yes' ? 'true' : 'false') selected) #{val}
                    else
                      option(value=(val === 'Yes' || val === 'yes'  ? 'true' : 'false')) #{val}
                else
                  option(value="none" selected disabled hidden) Select an Option
                  each val in forms.option4
                      option(value=(val === 'Yes' || val === 'yes'  ? 'true' : 'false')) #{val}
          .col.col-md-12.col-lg-6
            label.small(for='siteArrange_allow_extra_specific_time') Allow Extra Specific Time
            .input-group
              input.form-control(type="number" name="siteArrange_allow_extra_site_specific_time" value=`${project.Site_arrangement.allow_extra_site_specific_time}`)
              .input-group-append
                span.input-group-text Hrs
